In [16]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as pl

from sklearn.model_selection import train_test_split

The csv data file provided contains synthetic data representing a stratified random sample of customers who have a Lloyds Banking Group savings account, and who satisfy several other criteria: they are all aged 18 or over, none of them have retired yet, and all of them have a current account with Lloyds Banking Group that (based on separate analysis) appears to be their main current account. The data are for a single year only. A data dictionary is provided containing definitions of all columns. All monetary amounts are in GBP and are full-year amounts.

In [10]:
df = pd.read_csv('data/savings_customers_data_v1.csv')

```
cust_unique_id	A unique ID generated for each customer for the purposes of this analysis, in order to preserve customer anonymity.
age	The age of each customer in years at the mid-point of the year for which data was queried. 
gender	The self-identified gender recorded by each customer.
ethnicity_group	The self-identified etnnicity group recorded by each customer. 
geo_region	The geographical region of the UK to which the customers recorded address and postcode correspond. 
net_salary	The total inflows into the customer's current account identified as consisting of salary payments, based on a separate analysis. 
other_income	The total inflows into the customer's current account identified as consisting of non-salary forms of income, based on a separate analysis. 
observed_income	The sum of net_salary and other_income. 
housing_spend	The total outflows from the customer's current account identified as consisting of mortgage, rent and other housing costs, based on a separate analysis. 
childcare_spend	The total outflows from the customer's current account identified as consisting of nursery, childminder and other childcare costs, based on a separate analysis. 
gambling_spend	The total outflows from the customer's current account identified as consisting of spending on gambling websites, based on a separate analysis. 
observed_surplus	The total of observed income minus the total of observed costs. 
credit_score	The credit score assigned to the customer by an internal bank credit scoring process. 
savings_bal_lbg	The total balance of savings held by the customer with Lloyds Banking Group entities as of the start of the year for which data was queried. 
annual_net_savings_lbg	The total of savings payments made by the customer into savings accounts with Lloyds Banking Group entities, minus withdrawls from those accounts, during the year for which data was queried.
```

In [12]:
df

,cust_unique_id,age,gender,ethnicity_group,geo_region,net_salary,other_income,observed_income,housing_spend,childcare_spend,gambling_spend,observed_surplus,credit_score,savings_bal_lbg,annual_net_savings_lbg
0,1,53,M,White British,Southeast,71602.70,19375.82,90978.52,28093.32,0.0,0.0,62885.20,2140.56,1713363.25,37712.97
1,2,52,Other,White British,Midlands,56111.36,11229.89,67341.25,22975.17,0.0,0.0,44366.07,1805.22,1148312.44,27008.50
2,3,62,M,Afro-Carribbean,Scotland,52804.51,9784.73,62589.24,22308.34,0.0,0.0,40280.90,1692.36,1420711.15,31364.28
3,4,44,Other,White British,Southeast,63360.88,16913.89,80274.76,27281.78,0.0,0.0,52992.99,1943.48,970783.31,27684.71
4,5,65,M,White British,Southeast,73642.58,NaN,73642.58,28985.51,0.0,0.0,68341.32,2233.66,2660671.01,29503.44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30300,30301,24,F,White British,Southeast,60827.36,NaN,60827.36,NaN,0.0,0.0,60827.36,1894.09,0.00,17565.48
30301,30302,29,F,White British,Southwest,47874.93,8952.87,56827.80,20716.41,0.0,0.0,36111.39,1604.48,140620.02,16131.26
30302,30303,25,M,White British,Southwest,53489.49,12644.74,66134.22,23979.80,0.0,0.0,42154.42,1719.58,6220.04,16356.25
30303,30304,52,F,White British,Southeast,71290.40,21247.32,92537.72,31927.67,0.0,0.0,60610.05,2119.9,1588091.41,31436.81
30304,30305,62,F,White British,Scotland,51339.58,9147.10,60486.68,18067.54,0.0,0.0,42419.14,1778.99,1504340.06,30231.78

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30305 entries, 0 to 30304
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   cust_unique_id          30305 non-null  int64
 1   age                     30305 non-null  int64
 2   gender                  30305 non-null  object
 3   ethnicity_group         30305 non-null  object
 4   geo_region              30305 non-null  object
 5   net_salary              30305 non-null  float64
 6   other_income            26067 non-null  float64
 7   observed_income         30305 non-null  float64
 8   housing_spend           22949 non-null  float64
 9   childcare_spend         30305 non-null  float64
 10  gambling_spend          30305 non-null  float64
 11  observed_surplus        30305 non-null  float64
 12  credit_score            30305 non-null  object
 13  savings_bal_lbg         30305 non-null  float64
 14  annual_net_savings_lbg  30305 non-null  float64
dtypes: float64(9), int64(2), object(4)
memory usage: 3.5+ MB

In [21]:
df.describe()

,cust_unique_id,age,net_salary,other_income,observed_income,housing_spend,childcare_spend,gambling_spend,observed_surplus,savings_bal_lbg,annual_net_savings_lbg
count,30305.00000,30305.000000,30305.000000,26067.000000,30305.000000,22949.000000,30305.000000,30305.000000,30305.000000,3.030500e+04,30305.000000
mean,15153.00000,41.654182,56585.867472,13580.886176,69246.199349,24719.267675,593.375517,98.408160,51270.967701,8.405509e+05,21299.618218
std,8748.44429,15.444812,11794.832398,5862.046413,14708.576183,4325.260951,2528.447257,2881.362877,16050.305701,7.323375e+05,10018.424977
min,1.00000,4.000000,-1000.000000,0.000000,32518.450000,10573.570000,0.000000,0.000000,-408635.510000,0.000000e+00,0.000000
25%,7577.00000,29.000000,50407.530000,9962.795000,59196.380000,21605.140000,0.000000,0.000000,40242.040000,1.514217e+05,16891.130000
50%,15153.00000,42.000000,56643.520000,12716.980000,67338.610000,24603.170000,0.000000,0.000000,50093.010000,7.113819e+05,22870.700000
75%,22729.00000,55.000000,64805.760000,18749.150000,82136.110000,28155.700000,0.000000,0.000000,60232.450000,1.397923e+06,28352.660000
max,30305.00000,68.000000,104374.080000,29752.890000,131050.070000,42189.020000,17778.930000,448664.260000,128700.410000,3.615059e+06,42951.370000

1.	Cleanse the data and prepare it to be suitable for statistical modelling and machine learning. Comment on the steps performed and explain the rationale for them.